$background:#efefef;
.container{
    background-color:$background;
    margin-bottom: 15px;
}
.search-block{
    border: 2px solid #b3b3b3;
    padding: 15px;
    margin: 10px 0px;
}
.title-block{
    margin: 10px 0px;
}
.output-block{
    border: 2px solid #b3b3b3;
    padding: 15px;
}
.list-group-item{
    background-color: inherit;
}
.movie-image{
    text-align: center;
}
.movie-image img{
    max-width:100%;
}
.movie-info h5{
    text-align: center;
}